.navBar {
  background-color: darkcyan;
  padding: 0.5rem;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navBar li {
  margin-right: 3rem;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1{
  margin: 0 0 0.5rem;
}