.cardList {
    flex: 1; /* Основное содержимое занимает оставшееся пространство */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -8px;
    transition: margin-right 0.9s ease;
}

.errButton{
    padding: 8px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgba(205, 92, 92, 0.82);
    border-radius: 5px;
    margin: 0;
    height: 40px;
    position: absolute;

    right: 10px;
}

.panelOpen{
    margin-right: 450px;
}