.sideDetails{
    width: 450px;
    background-color: rgba(104, 121, 104, 0.66);
    position: fixed;
    top: 0;
    right: -450px;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.9s ease;
    z-index: 1000;
    opacity: 1;
}

.container.dark{
    background-color: rgba(104, 121, 104, 0.85);
    color: white;
}
.container.light{
    background-color: rgba(75, 202, 75, 0.64);
    color: black;
}


.sideDetails.open {
   right: 0;
}




.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

min-height: 100vh;
}

.container h1,p,div{
    margin: 1px;
}

.container h1{
    margin: 20px;
    font-size: 1.5em;
}

.container span{
    font-size: 0.6em;
}

.imageContainer img{
    max-height: 55vh
}

.backBtn{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #999999;
}

.backBtn:hover{
    background-color: rgba(221, 221, 221, 0.75);
}

