
.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  width: 300px;

  transition: background-color 0.3s ease;
  justify-content: space-around;

  background-color: var(--background-card);
  border: var( --border-card);
}

.card:hover {
  background-color: var(--hover-card)
}
.card img {
  padding: 0;
  margin-top: 20px;
  max-width: 100%;
  max-height: 200px; /* Устанавливает максимальную высоту для изображения */
  width: auto; /* Сохраняет пропорции изображения */
  height: auto; /* Сохраняет пропорции изображения */
  object-fit: contain; /* Убедитесь, что изображение вписывается в заданные размеры */
}

.card h2 {
  font-size: 1.2em;
  text-align: center;
  overflow: hidden; /* Скрывает переполнение */
  text-overflow: ellipsis; /* Добавляет троеточие в конце переполненного текста */
  display: -webkit-box; /* Для поддержки многострочности */
  -webkit-line-clamp: 2; /* Количество строк до обрезки */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
}

/* Контейнер для чекбокса */
.checkboxСontainer {
  position: absolute;
  top: 10px;
  right: 10px;

}

/* Обёртка вокруг чекбокса с отступом 5px */
.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Отступ 5px вокруг чекбокса */
  border-radius: 4px;
  margin: 0;
}

.checkboxWrapper.dark{
  background-color: #714896;
}
.checkboxWrapper.light{
  background-color: #e0e0e0;
}
/* Стилизация самого чекбокса */
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 2px solid #007bff;
}

/* Убираем стандартный стиль чекбокса и добавляем кастомный */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 3px;
}

.checkbox:checked {
  background-color: #007bff;
  position: relative;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

